<div class="col-sm-6">
  <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
    <div class="form-group">
      <label >Email address</label>
      <input required #email="ngModel" type="email" email ngModel class="form-control" name="useremail" >
      <span *ngIf="email.invalid && email.touched" class="error">Email field is not valid</span>
      
    </div>

    <div class="form-group">
      <label>Address</label>
      <input pattern="[a-zA-Z ]*"  required #address="ngModel" minlength="3"  type="text" ngModel class="form-control" name="address" placeholder="Enter address">
      <span *ngIf="address.invalid && address.touched" class="error">Address field is not valid</span>
    </div>

    <div class="form-group">
      <label>Phone Number</label>
      <input pattern="[1-9 ]*"  required #phonenumber="ngModel" minlength="10" maxlength="12" type="number" ngModel class="form-control" name="phonenumber" placeholder="Enter phonenumber">
      <span *ngIf="phonenumber.invalid && phonenumber.touched" class="error">Phone Number field is not valid</span>
    </div>

    <div class="form-group">
      <label>Password</label>
      <input required #password="ngModel" minlength="6" maxlength="10" type="password" ngModel class="form-control" name="Password">
      <span *ngIf="password.invalid && password.touched" class="error">Password field is not valid</span>
    </div>

    <div class="form-group">
      <label>Confirm Password</label>
      <input required #confirmpassword="ngModel" minlength="6" maxlength="10" type="password" ngModel class="form-control" name="confirmpassword">
      <span *ngIf="confirmpassword.invalid && confirmpassword.touched"  class="error">Password field is not valid</span>
    </div>

    <div class="mb-3 form-check">
      <input type="checkbox" ngModel class="form-check-input" id="exampleCheck1">
      <label>Agree with terms and conditions</label>
    </div>
    <button disabled="userForm.invalid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>



<router-outlet></router-outlet>
